:root {
  --primary-font: 'Poppins', 'Arial', sans-serif;
  --primary-color: #EAEAEA;
  --secondary-color: #08D9D6;
  --secondary-color-dark: #08918e;
  --error-color: #FF2E63;
  --background-color: #252A34;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
}